@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate-circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.group-hover\:animate-rotate-circle:hover {
  animation: rotate-circle 1s linear forwards;
}
/* styles/globals.css */

/* Keyframes for the marquee animation */
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

/* Apply the marquee animation */
.animate-marquee {
  animation: marquee 15s linear infinite;
}